{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendees list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Middleinitial</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attendee in attendees %}
            <tr>
                <td><a href="{{ path('attendee_show', { 'id': attendee.id }) }}">{{ attendee.id }}</a></td>
                <td>{{ attendee.firstname }}</td>
                <td>{{ attendee.middleinitial }}</td>
                <td>{{ attendee.lastname }}</td>
                <td>{{ attendee.email }}</td>
                <td>{{ attendee.phonenumber }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="button" href="{{ path('attendee_show', { 'id': attendee.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="button" href="{{ path('attendee_edit', { 'id': attendee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="button" href="{{ path('attendee_new') }}">Create a new attendee</a>
        </li>
    </ul>
{% endblock %}
