{#
/**
 * Available variables
 * -------------------
 *
 * {{ events }} - array of OPEEvent objects
 * {{ attendees }} - array of Attendee objects
 *
 */
#}

{% extends 'base.html.twig' %}

{% block body %}
  <div class="columns">
    <div class="column">
      <table class="table is-fullwidth">
        <tbody>
          <tr>
            <td>
              <a class="button" href="{{ path('opeevent_new') }}">Create a new event</a>
            </td>
          </tr>

          {% for event in events %}
            <tr>
              <td>
                <a href="{{ path('opeevent_show', {'id': event.id}) }}">{{ event.title }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="column">
      <table class="table is-fullwidth">
        <tbody>
          <tr>
            <td>
              <a class="button" href="{{ path('attendee_new') }}">Create a new attendee</a>
            </td>
          </tr>

          {% for attendee in attendees %}
            <tr>
              <td>
                <a href="{{ path('attendee_show', {'id': attendee.id}) }}">{{ attendee.getFullName() }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
