{#
/**
 * Available variables
 * -------------------
 *
 * {{ events }} - array of OPEEvent objects
 * {{ attendees }} - array of Attendee objects
 *
 */
#}

{% extends 'base.html.twig' %}

{% block body %}
  <div class="columns">
    <div class="column">
      <a class="button" href="{{ path('opeevent_new') }}">Create a new event</a>

      {% for event in events %}
          <a href="{{ path('opeevent_show', {'id': event.id}) }}">{{ event.title }}</a>
      {% endfor %}
    </div>
    <div class="column">
      <a class="button" href="{{ path('attendee_new') }}">Create a new attendee</a>

      {% for attendee in attendees %}
          <a href="{{ path('attendee_show', {'id': attendee.id}) }}">{{ attendee.getFullName() }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
