{#
/**
 * Available variables
 * -------------------
 *
 * {{ base_object }} - Attendee or OPEEvent object
 * {{ list }} - array of OPEEvent or Attendee objects (depends on base_object)
 *
 */
#}

{% extends 'base.html.twig' %}

{% block body %}
  <table class="table">
    <thead>
      <tr>
        <th colspan="4">
          <p class="title">{{ base_object }}</p>
        </th>
      </tr>
    </thead>

    <tbody>
      {% for i in list %}
        {{ i.toListItem()|raw }}
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">
          <p class="subtitle">{{ base_object.getSummary() }}</p>
        </td>
      </tr>
    </tfoot>
  </table>
{% endblock %}
