{% extends 'base.html.twig' %}

{% block body %}
    <h1>OPE events list</h1>

    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Title</th>
                <th>CE hours</th>
                <th>Dates</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oPEEvent in oPEEvents %}
            <tr>
                <td>{{ oPEEvent.title }}</td>
                <td>{{ oPEEvent.ceHours }}</td>
                <td>{% if oPEEvent.dates %}{{ oPEEvent.dates|join(', ') }}{% endif %}</td>
                <td>
                    <a class="button" href="{{ path('opeevent_show', { 'id': oPEEvent.id }) }}">show</a>
                    <a class="button" href="{{ path('opeevent_edit', { 'id': oPEEvent.id }) }}">edit</a>
                    <a class="button" href="{{ path('opeevent_report', { 'id': oPEEvent.id }) }}">generate attendance</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="button" href="{{ path('opeevent_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
